.button {
  text-decoration: none;
  background: none transparent;
  border: 1px solid black;
  padding: 8px 16px;
  border-radius: 0;
  font-size: 16px;
  line-height: 20px;
  min-height: 50px;

  &:focus {
    outline: 2px solid #000;
  }

  &-primary,
  &-primary:hover {
    border-color: rgba(2, 184, 117, 1);
    color: rgba(28, 153, 99, 1);
  }

  &-primary:hover {
    color: #444;
  }

  &-simple,
  &-simple:hover {
    border-color: transparent;
    padding: 0;
    min-height: initial;
    color: #222;
    text-decoration: underline;
    cursor: pointer;
    font-family: Georgia, serif;
    font-size: 1.2em;
    s &:focus {
      outline: none;
    }
  }

  &:link,
  &:hover {
    text-decoration: none;
  }

  i {
    margin-right: 7px;
    font-size: 1.4em;
    vertical-align: bottom;
  }
}
