.content {
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.2em;

  &-meta {
    margin-top: -10px;
    margin-bottom: 20px;
    color: #999;
    display: block;
  }

  .article {
    img {
      max-width: 100%;
      margin: 40px auto;
    }
  }

  @media all and (max-width: 600px) {
    padding: 0 20px;
  }
}
