.pill {
  float: left;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 0.3rem 1rem;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 2px;
}
