.pill {
  float: left;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 0.1rem 0.6rem;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(103, 103, 103);
  border-radius: 3px;
}
