.resume {
  font-family: "Ubuntu", sans-serif;
  background: #fafafa;
  font-size: 1.8em;

  p {
    text-align: justify;
    color: #444;
    line-height: 1.5;
    font-size: 1em;
  }

  section.content-block {
    margin-bottom: 10rem;
  }

  .text-limiter {
    max-width: 680px;
    margin: 0 auto;
  }

  .container {
    max-width: 820px;
  }

  .welcome {
    height: 90vh;
    display: flex;
    justify-content: center;

    .container {
      padding-top: 6rem;
      padding-bottom: 6rem;
      text-align: center;
      margin-bottom: 10rem;

      @media (min-width: 550px) {
        padding-top: 24rem;
        padding-bottom: 18rem;
      }

      p {
        text-align: center;
        font-size: 2rem;
        color: #484848;
        letter-spacing: 5px;
      }

      h1 {
        font-size: 6rem;
      }
    }

    .wrapper {
      display: flex;
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;

      p {
        text-align: center;
        font-size: 2rem;
        color: #484848;
        letter-spacing: 5px;
      }

      h1 {
        font-size: 6rem;
      }

      .left-side {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        .portrait {
          background-image: url(/images/face.jpg);
          width: 400px;
          height: 400px;
          background-size: cover;
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
          position: relative;

          &:before {
            content: "";
            display: block;
            background-image: url(/images/dot.svg);
            background-repeat: repeat;
            width: 500px;
            height: 300px;
            position: absolute;
            bottom: -100px;
            left: -90px;
            z-index: -1;
          }
        }
      }

      .right-side {
        width: 50%;
        flex-direction: column;
        display: flex;
        justify-content: center;
        // align-items: center;
        text-align: left;

        h1 {
          margin: 0;
        }

        p {
          text-align: left;
        }
      }
    }

    @media (max-width: 990px) {
      margin-bottom: 3em;

      .wrapper {
        flex-direction: column;

        .left-side {
          width: 90%;
          justify-content: center;
          display: initial;
          margin: 2em auto;
        }
        .right-side {
          width: 90%;
          margin: 3em auto;
        }
      }
    }

    .social-media {
      display: flex;

      a {
        text-decoration: none;
        margin: 0 20px 0 0;
      }

      .icon span {
        height: 35px;
        width: 35px;
        border-radius: 100px;
        border: 1px solid #222;
        display: inline-block;
        text-align: center;

        &:before {
          height: 35px;
          line-height: 35px;
        }
      }
    }
  }

  /*************************************************************************************************
** HEADLINE STRIKETHROUGH
*************************************************************************************************/
  .headline-strike {
    text-align: center;
    position: relative;
    margin-bottom: 6rem;
  }
  .headline-strike span {
    background: #fafafa;
    padding: 0 20px;
    z-index: 10;
    position: relative;

    @media print {
      background: #fff;
    }
  }
  .headline-strike:before {
    border-top: 1px solid #333;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 75%;
    z-index: 0;
  }

  .separator {
    max-width: 50%;
    border-top: 1px solid #ddd;
    margin: 5rem auto;
  }

  ul li {
    text-indent: -3rem;
    padding-left: 3rem;
    margin-bottom: 0.6rem;
  }

  /*************************************************************************************************
  ** SECTIONS
  *************************************************************************************************/

  #Skills > .container > .row {
    min-height: 60px;
    margin-bottom: 20px;
  }
  #Skills .more .row {
    margin-bottom: 1rem;
  }

  /*.icon { width:50px; height:50px; margin-top:10px; margin-bottom: 20px; margin-left: auto; margin-right: auto; }
.icon svg { width:100%; height:100%; }*/

  #About p {
    font-size: 1.8rem;
  }

  #Contact {
    font-size: 2.4rem;
  }
}

@media print {
  .resume {
    background-color: white;
    .welcome {
      height: auto !important;
      max-width: 960px;
      margin: 0 auto;

      .wrapper {
        margin: 0 auto;
        max-width: 90%;
        box-sizing: border-box;

        .left-side {
          width: 120px;
          padding-right: 20px;
          display: none !important;

          .portrait {
            width: 120px;
            height: 120px;
            box-shadow: none;
            margin-bottom: 10px;
          }
        }

        .right-side {
          margin: 2rem 0 !important;
        }
      }
    }

    .portrait:before {
      display: none !important;
    }
    .hide-print {
      display: none !important;
    }

    // .pill {
    //   border-color: #bebebe;
    // }

    #Skills,
    #Career,
    #Education,
    #Contact {
      .container {
        max-width: 90%;
      }
    }

    .container {
      max-width: 960px;
    }

    .welcome {
      margin-bottom: 0;

      .container {
        padding-top: 4rem;
        padding-bottom: 0rem;
      }
    }

    section.content-block {
      margin-bottom: 0;

      .container {
        width: 100%;
      }
    }

    section.content .sub-title {
      padding-bottom: 0.3rem;
    }

    p {
      margin-bottom: 1rem;
      line-height: 1.5;
    }

    li {
      margin-bottom: 0rem !important;
    }

    #Skills > .container > .row {
      margin-bottom: 0;
    }

    #Skills h5 {
      margin-bottom: 0;
    }

    .separator {
      border: none;
      margin: 2rem auto;
    }

    .text-limiter {
      max-width: 90%;
    }

    // #Career {
    //   page-break-before: always;
    // }

    #Contact {
      margin-top: 3rem;
    }

    #Contact .row:first-of-type {
      margin-top: 0 !important;
    }

    #Contact h3 {
      font-size: 2.5rem;
    }
  }
}

.only-print {
  display: none;

  @media print {
    display: block;
  }
}

.tech {
  font-weight: 500;
  color: rgb(12, 104, 190);
  margin-right: 10px;
  line-height: 36px;
  cursor: grab;

  &:hover {
    color: rgb(36, 136, 230);
    text-decoration: dashed;
  }
}
