body,
html {
  font-family: Georgia, serif;
}

body {
  font-size: 1.6em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Text", serif;
  letter-spacing: 0;
}

p {
  color: #444;
  line-height: 1.5;
}

.title {
  margin-bottom: 0;
  padding-bottom: 0;
}

.sub-title {
  padding-bottom: 1em;
  font-size: 1.9rem;
  font-weight: 500;
}

.date {
  color: #999;
}

.text-center {
  text-align: center;
}

.margin-zero {
  margin: 0;
}

.margin-top {
  margin-top: 2em;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.latest-posts {
  .date {
    width: 130px;
    display: inline-block;
  }
}

.brief {
  margin-top: 4em;

  .my-face {
    background-image: url(/images/face2.png);
    background-size: cover;
    background-position: center center;
    height: 120px;
    width: 120px;
    border-radius: 300px;
    float: left;
    margin-right: 2em;
    margin-bottom: 3em;
  }

  h4 {
    margin-bottom: 0;
  }

  p {
    margin-bottom: 0.4em;
    a {
      margin-right: 1em;
    }
  }
}

@import "./header";
@import "./content";
@import "./button";
@import "./blog";
@import "./columns";
@import "./resume";
@import "./grid";
@import "./pill";
@import "./landing";
