
@use "./content";
@use "./button";
@use "./blog";
@use "./columns";
@use "./resume";
@use "./grid";
@use "./pill";
@use "./landing";
@use "./contact-form";
@use "./loader";

body,
html {
  font-family: Georgia, serif;
}

body {
  font-size: 1.6em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Text", serif;
  letter-spacing: 0;
}

p {
  color: #444;
  line-height: 1.5;
}

p.md {
  font-size: 1.2em !important;
}

strong {
  font-weight: bold;
}

li p {
  display: inherit;
}

.title {
  margin-bottom: 0;
  padding-bottom: 0;
}

.sub-title {
  padding-bottom: 1em;
  font-size: 1.9rem;
  font-weight: 500;
}

.date {
  color: #999;
}

.text-center {
  text-align: center;
}

.margin-zero {
  margin: 0;
}

.margin-top {
  margin-top: 2em;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

code {
  color: crimson;
  background-color: #f1f1f1;
  padding-left: 5px;
  padding-right: 5px;
  font-family: Consolas, "courier new";
  font-size: 16px;
}

code::selection,
code ::selection {
  background: rgba(255, 255, 0, 0.2) !important;
}

::selection {
  background-color: rgba(255, 255, 0, 0.6);
}

.latest-posts {
  .date {
    width: 130px;
    display: inline-block;
  }

  @media all and (min-width: 601px) {
    &__item {
      display: flex;
    }
  }

  @media all and (max-width: 600px) {
    &__item {
      margin-bottom: 1em;
      a {
        display: block;
        line-height: 1.3;
      }

      .date {
        font-size: 0.8em;
      }
    }
  }
}

.brief {
  margin-top: 4em;

  .my-face {
    background-image: url(/images/face.jpg);
    background-size: cover;
    background-position: center center;
    height: 120px;
    width: 120px;
    border-radius: 300px;
    float: left;
    margin-right: 2em;
    margin-bottom: 3em;
  }

  h4 {
    margin-bottom: 0;
  }

  p {
    margin-bottom: 0.4em;
  }
  a {
    margin-right: 1em;
  }

  @media all and (max-width: 600px) {
    .my-face {
      float: none;
      margin: 0 auto;
      margin-bottom: 1em;
    }
    a {
      margin-right: 0.3em;
    }
  }
}

iframe {
  margin-bottom: 10px;
}

.attribution {
  margin-top: -70px;
  font-size: 14px;
  font-style: italic;
  text-align: left;
  margin-bottom: 30px;
}

em {
  font-style: italic;
}

blockquote {
  quotes: "“" "”" "‘" "’";
  padding: 30px 0px;
  // font-style: italic;
  // background: rgb(0 0 0 / 2%);
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 200vw;
    height: 100%;
    position: absolute;
    left: -100vw;
    top: 0;
    background: rgb(0 0 0 / 3%);
    z-index: -1;
  }

  > p {
    display: inline;
  }
}

.sans {
  font-family: "Open Sans", sans-serif;
}

.w500 {
  font-weight: 500;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  border-width: 1.5px;

  &:focus {
    border-width: 1.5px !important;
  }
}

textarea {
  padding-top: 10px;
  padding-bottom: 10px;
}
