

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Mihai Nueleanu</title>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="keywords"
      content="mihai nueleanu devops developer system architect ux ui software cv curriculum vitae resume "
    />
    <meta
      name="description"
      content='I am the kind of person that simply "gets things done", which is something I take great pride in. I pay high attention to details and I make the most of the time and resources I`m given to create the best possible outcome.'
    />

    <link rel="canonical" href="https://www.nueleanu.com/" />
    <link rel="profile" href="http://gmpg.org/xfn/11" />

    <link rel="icon" type="image/png" href="/images/ico16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/images/ico32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/images/ico96.png" sizes="96x96" />

    <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/css/skeleton.css" />
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="/css/linear-icon.css" />
    <link
      href="https://fonts.googleapis.com/css?family=DM+Serif+Text:400,400i|Ubuntu:400,400i,500,500i,700,700i&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="resume">
    <section class="header">
      <div class="container">
        <h1>Mihai Nueleanu</h1>
        <p class="hide-print">
          Creative problem solving.
        </p>

        <div class="social-media hide-print">
          <a href="https://www.facebook.com/mihai.nueleanu" target="_blank">
            <img
              title="Facebook"
              alt="Facebook"
              src="/images/facebook.png"
              width="35"
              height="35"
            />
          </a>
          <a href="https://www.linkedin.com/in/mihai-nueleanu" target="_blank">
            <img
              title="LinkedIn"
              alt="LinkedIn"
              src="/images/linkedin.png"
              width="35"
              height="35"
            />
          </a>
        </div>
      </div>
    </section>

    <!--******************************************
		ABOUT SECTION
	*******************************************-->
    <section class="content" id="About">
      <div class="container">
        <h1 class="text-center margin-zero hide-print">
          <span class="lnr lnr-user"></span>
        </h1>
        <h2 class="headline-strike hide-print"><span>Personal</span></h2>

        <div class="text-limiter">
          <p>
            Ever since I can remember, I've had a passion for science and
            mathematics. But more than anything, technology has always been the
            center of my interest. I am, therefore, happy that my education and
            professional career has led me down the path of IT.
          </p>
          <p>
            I’m a highly motivated person with a great passion for technology
            and science. I am the kind of person that gets things done, which is
            something I take great pride in. I pay high attention to details and
            I make the most of the time and resources I'm given to create the
            best possible outcome.
          </p>
          <p>
            I have excellent teamwork and communication skills, and I keep a
            high sense of personal responsibility. I am reliable, hardworking, a
            quick learner, always eager to better myself, and I'm always on the
            lookout for a good challenge.
          </p>
        </div>

        <br /><br /><br /><br />
      </div>
    </section>

    <!--******************************************
		SKILLS SECTION
	*******************************************-->
    <section class="content" id="Skills">
      <div class="container">
        <h1 class="text-center margin-zero">
          <span class="lnr lnr-code"></span>
        </h1>
        <h2 class="headline-strike"><span>Skills</span></h2>

        
        {% for key, items in skills %}
        <div class="row general"> 
          <div class="col-3">
            <h5>{{key}}</h5>
          </div>
          <div class="col-9">
          {% for item in items %}
            <span class="pill">{{item}}</span>
          {% endfor %}
          </div>
        </div>
        {% endfor %}

        <div class="separator"></div>

        <div class="row more">
          <div class="col-6">
            <h3>Languages</h3>
            {% for key, value in languages %}
            <div class="row">
              <div class="col-4"><b>{{key}} </b></div>
              <div class="col-8">{{value}}</div>
            </div>
            {% endfor %}
          </div>
          <div class="col-6">
            <h3>Goals</h3>
            <ul>
            {% for item in goals %}
              <li>{{item}}</li>
            {% endfor %}
            </ul>
          </div>
        </div>

        <br />
        <br />
        <br />
        <br />
      </div>
    </section>

    <!--******************************************
      CAREER SECTION
    *******************************************-->
    <section class="content" id="Career">
      <div class="container">
        <h1 class="text-center margin-zero">
          <span class="lnr lnr-briefcase"></span>
        </h1>
        <h2 class="headline-strike"><span>Career</span></h2>

        <div class="item">
          <h3 class="title">IBM Garage</h3>
          <div class="sub-title">
            Full-Stack Developer / July 2019 – present<span class="date">
              / Copenhagen
            </span>
          </div>
          <p>
            "The speed of a startup, at the scale of an enterprise" - a
            catchphrase which I think describes the Garage very well.
          </p>

          <p>
            I work as part of a small agile team of experts, to advise and
            develop innovative solutions on behalf of our customers. From
            startups to enterprise, I help bringing our customers' ideas to
            reality.
          </p>

          <p>
            In this role, I work with the latest and best technologies, across
            any technology stacks that come our way, which fits great with my
            agnostic approach towards technology. The winner tech is whatever
            gets the job done best.
          </p>

          <p>
            I practice extreme-programming on a daily basis, together with
            Test-Driven Development.
          </p>
        </div>

        <div class="separator"></div>

        <div class="item">
          <h3 class="title">FundConnect</h3>
          <div class="sub-title">
            Lead developer & Product Owner / Oct 2012 – Feb 2017 & Oct 2017 -
            June 2019<span class="date"> / Copenhagen </span>
          </div>
          <p>
            I began working as a developer on implementations of web solutions.
            My responsibilities evolved over the years from single tasks to
            entire client implementations, and later on to product ownership.
          </p>

          <p>
            I managed my own team of developers and together we worked on a
            project which I am the owner of. My responsibilities in this project
            spanned from concept to execution, and every step in between, i.e.
            system architecture, technology selection, server infrastructure,
            continuous delivery, product development, and more. Over the years,
            I’ve had the opportunity to personally build this team, starting
            from recruitment, to training, support and management.
          </p>

          <p>
            This position has enabled me to create positive changes on an
            ongoing basis in the places where the company was lacking
            technologically or otherwise. I’ve been a driver of improvement in
            internal development processes, I’ve innovated in the product line
            of the company, and I was always improving the software lineup.
            Overall, I’ve been involved in the majority of the software
            solutions of the company.
          </p>
        </div>

        <div class="separator"></div>

        <div class="item">
          <h3 class="title">Independent Strategic Technology</h3>
          <div class="sub-title">
            Full-Stack Developer / Feb - Sep 2017
            <span class="date"> / Manchester </span>
          </div>
          <p>
            I’ve been working as a developer with primary focus on Angular &
            .Net Core development. During my stay in Manchester, with IST, I got
            the chance to work on an innovative product within the fin-tech
            industry, and practice my skills on fresh technologies, along-side
            with a newly established team of developers.
          </p>
        </div>

        <div class="separator"></div>

        <div class="item">
          <h3 class="title">Readolens</h3>
          <div class="sub-title">
            System architect / 2016 <span class="date"> / Copenhagen </span>
          </div>
          <p>
            Own startup based in Copenhagen for which I have designed and
            developed a system which had as a purpose the recommendation of
            luxury goods based on user preferences. The project was highly
            valuable on a professional level as it enabled me to explore and
            advance my practical knowledge of cutting-edge technologies and
            industry best-practices, i.e. machine-learning, system architecture,
            modern full-stack JavaScript, big-data analysis.
          </p>
        </div>
      </div>
    </section>

    <!--******************************************
		EDUCATION SECTION
	*******************************************-->
    <section class="content" id="Education">
      <div class="container">
        <h1 class="text-center margin-zero">
          <span class="lnr lnr-graduation-hat"></span>
        </h1>
        <h2 class="headline-strike"><span>Education</span></h2>

        <div class="item">
          <h4 class="title">
            Master of Science (MSc), Innovative Communication Technologies and
            Entrepreneurship
          </h4>
          <div class="sub-title">
            Aalborg University Copenhagen
            <span class="date"> / 2015 - 2017 </span>
          </div>
          <p>
            This study emphasized teamwork and collaboration, bringing the
            students into the cutting-edge, advanced areas of ICT. What is
            exceptional is that the program focused not only on theory and
            textbooks, but on how ICT can be truly useful in real life.
          </p>
          <h5>Main focus:</h5>
          <ul class="cols-two">
            <li>Internet technologies and service architectures</li>
            <li>Identity and access management</li>
            <li>Interaction design</li>
            <li>Entrepreneurship, Innovation and Business</li>
            <li>Communication and Media Management</li>
            <li>Application and architecture development</li>
            <li>Machine learning and recommendation systems</li>
            <li>Sensors, data gathering and algorithms</li>
          </ul>
        </div>

        <div class="separator"></div>

        <div class="item">
          <h4 class="title">
            Bachelor of Science (BSc), IT, Communication & New Media
          </h4>
          <div class="sub-title">
            Aalborg University Copenhagen
            <span class="date"> / 2012 - 2015 </span>
          </div>
          <p>
            Dynamic environment where the emphasis was put on team work and
            collaboration. The backbone of the program are long-term projects
            for which the students were free to choose any topic, as long as it
            relates to the semester's theme. I've found this "Problem-Based
            Learning" methodology to be extremely efficient at cementing
            knowledge, and building essential teamwork skills.
          </p>
          <h5>Main focus:</h5>
          <ul class="cols-two">
            <li>Network and application security</li>
            <li>Computer networks and Next-gen Networks</li>
            <li>Communication and broadcast networks</li>
            <li>Java and Android programming</li>
            <li>Databases</li>
            <li>Distributed systems and Distributed Organisations</li>
            <li>Applied statistics, Calculus and Linear algebra</li>
            <li>Economics, Business law</li>
          </ul>
        </div>

        <div class="separator"></div>

        <div class="item hide-print">
          <h4 class="title">Notable academic contributions</h4>
          <br />

          <div class="sub-title">Mizaru: Privacy to email providers</div>
          <p>
            The project focused on designing and developing an extra-secure
            web-based email client, with the purpose of protecting the privacy
            of users. The project had at heart the
            <a href="https://spideroak.com/features/zero-knowledge"
              >Zero Knowledge Privacy</a
            >
            philosophy and it was designed to provide end-to-end encryption,
            while not even storing the original encryption keys. With Mizaru,
            the user can simply keep using their existing email provider, while
            enjoying the perks of being private, without having to install any
            software or browser extension.
          </p>

          <div class="sub-title">BlueID: Secure, smart lock</div>
          <p>
            Mechanical lock-and-key access control is notoriously insecure in
            this day and age; virtually anyone can break a lock with the most
            basic tools. Why not leverage technology? This project was about
            designing a secure phisical access control system using ubiquitous
            technologies, i.e. Smartphones, Bluetooth. While there are existing
            products to fill the niche, ALL of them have security issues which
            can only be mitigated through a design revamp. BlueID uses simple
            technologies in a clever way, to provide an extra-secure lock
            mechanism, which can be used just by having your smartphone with
            you.
          </p>

          <div class="sub-title">SmartTrack: Issue tracking</div>
          <p>
            Issue tracking and project management are problematic within any
            software company. SmartTrack was about creating an efficient,
            dynamic tool which would enable managers, marketing, and developers
            to speak the same languaage. The system was designed and crafted
            based on data extracted from several user tests and was evaluated
            against other issue tracking systems, ultimatelly surpassing them in
            the eyes of the users.
          </p>

          <div class="sub-title">DASPOS: Smoke and fire prevention</div>
          <p>
            The project was conducted in collaboration with DASPOS, a company
            which delivers high-cost sophisticated fire prevention equipment all
            around the globe. In an attempt to increase cost-efficiency,
            security and accessibility, the project resulted in an end-to-end
            design and specification of a monitoring system, expanding
            accessibility and accountability through the use of mobile
            applications, web-apps and others.
          </p>

          <div class="sub-title">Affordable internet in remote areas</div>
          <p>
            The project revolved around providing internet connectivity to
            remote rural areas, where conventional infrastructure is too
            expensive to deploy. The case study was based in the rural areas of
            Tanzania, and the research was conducted in parallel with field
            experts. The result was a detailed step-by-step plan to deploying
            affordable internet infrastructure in rural Tanzania, while
            considering the needs of the people in the area.
          </p>

          <div class="sub-title">Search engines and privacy</div>
          <p>
            Google has been the defacto search engine of the world. Yet, a
            closer look reveals concerning issues that Google and other major
            search engines have in the area of user privacy. This project is an
            analysis of Search Engines, some which track users and some which
            don't, in an attempt to determine whether one may be profitable
            while maintaining high standards of user privacy.
          </p>
        </div>
      </div>
    </section>

    <!--******************************************
		CONTACT SECTION
	*******************************************-->
    <section class="content" id="Contact">
      <div class="container">
        <h1 class="text-center margin-zero">
          <span class="lnr lnr-envelope"></span>
        </h1>
        <h2 class="headline-strike"><span>Contact</span></h2>

        <div class="row" style="margin-top:10rem">
          <div class="col-8 offset-by-four columns">
            <a href="mailto:mihai.nueleanu@gmail.com"
              >mihai.nueleanu@gmail.com</a
            >
          </div>
        </div>
        <div class="row">
          <div class="col-8 offset-by-four columns">
            <a href="mailto:mihai@nueleanu.com">mihai@nueleanu.com</a>
          </div>
        </div>
        <div class="row">
          <div class="col-8 offset-by-four columns">
            +45 52 49 10 40
          </div>
        </div>
      </div>
    </section>
    
  </body>
</html>
