<section class="welcome">
  <div class="wrapper">
    <div class="left-side">
      <div class="portrait"></div>
    </div>
    <div class="right-side">
      <h1>Mihai Nueleanu</h1>
      <p class="hide-print">Creative problem solving.</p>

      <div class="social-media hide-print">
        <a href="https://www.linkedin.com/in/mihai-nueleanu" target="_blank">
          <img
            title="LinkedIn"
            alt="LinkedIn"
            src="/images/linkedin.png"
            width="35"
            height="35"
          />
        </a>
        <a href="#Contact" class="icon">
          <span class="lnr lnr-envelope"></span>
        </a>

        <a href="#Contact" class="icon">
          <span class="lnr lnr-phone-handset"></span>
        </a>
      </div>
    </div>
  </div>
</section>
