<section class="content-block" id="About">
  <div class="container">
    <h1 class="text-center margin-zero hide-print">
      <span class="lnr lnr-user"></span>
    </h1>
    <h2 class="headline-strike hide-print"><span>Personal</span></h2>

    <div class="text-limiter">
      <p>
        Outgoing and motivated person with a great passion for technology and
        science. The kind of person that gets things done, which is something he
        takes great pride in. Great eye for detail and willing to make the most
        of the time and resources he has been given to create the best possible
        outcome.
      </p>
      <p>
        He has great teamwork and communication skills, and keeps a high sense
        of personal responsibility. Reliable, hardworking, a quick learner,
        always eager to better himself, and loves a good challenge.
      </p>
    </div>

    <br class="hide-print" />
    <br class="hide-print" />
    <br class="hide-print" />
    <br class="hide-print" />
  </div>
</section>
