<section class="content-block" id="Career">
  <div class="container">
    <h1 class="text-center margin-zero">
      <span class="lnr lnr-briefcase"></span>
    </h1>
    <h2 class="headline-strike"><span>Career</span></h2>

    <div class="item">
      <h3 class="title">dotmethod</h3>
      <div class="sub-title">
        <span>Software Consultant / December 2022 – present</span>
        <span class="date"> / Copenhagen </span>
      </div>

      <p>
        Dotmethod is a self-founded software consultancy based in Copenhagen,
        Denmark. With the vast range and variety of experience I've gained over
        the years, I've decided to take the leap and start my own independent
        consulting business.
      </p>

      <p>
        My primary goal is to help companies build great products, and to help
        them achieve their business goals by breaking down the technology
        barriers. I'm a versatile software engineer, which means I'm comfortable
        working with any stack and across industries on any project that has an
        interesting technical challenge.
      </p>

      <div>
        <span class="tech">#Dotnet</span>
        <span class="tech">#Golang</span>
        <span class="tech">#React</span>
        <span class="tech">#Typescript</span>
        <span class="tech">#Kubernetes</span>
        <span class="tech">#Mysql</span>
        <span class="tech">#Redis</span>
        <span class="tech">#DevOps</span>
      </div>
      <br />
    </div>

    <div class="item">
      <h3 class="title">Literal</h3>
      <div class="sub-title">
        <span>Chief Technical Officer / April 2021 – present</span>
        <span class="date"> / Copenhagen </span>
      </div>

      <p>
        We believe that books and their place in the internet age haven't quite
        been figured out yet. We've built Literal in order to give book readers
        a delightful online reading experience. And it's been incredibly
        rewarding to build the platform from the ground up.
      </p>

      <p>
        From a technical point of view, Literal is the ideal project. It pushes
        the tech to its limits on multiple frontiers: data, infrastructure, web,
        mobile, and devops. I've been involved in building Literal from its
        inception, and as a CTO I'm responsible for anything technical: from
        building the team culture and mentoring to technology choices, system
        architecture, infrastructure, and development.
      </p>

      <div>
        <span class="tech">#Nodejs</span>
        <span class="tech">#Typescript</span>
        <span class="tech">#React</span>
        <span class="tech">#ReactNative</span>
        <span class="tech">#Kubernetes</span>
        <span class="tech">#Postgres</span>
        <span class="tech">#MongoDb</span>
        <span class="tech">#Redis</span>
        <span class="tech">#Neo4j</span>
        <span class="tech">#DevOps</span>
        <span class="tech">#MeiliSearch</span>
      </div>
      <br />
    </div>

    <div class="item">
      <h3 class="title">Kiosk</h3>
      <div class="sub-title">
        <span>Technical lead / August 2020 – March 2021</span>
        <span class="date"> / Copenhagen </span>
      </div>

      <p>
        Kiosk is a cloud-based broadcasting solution that makes it easy for you
        to share the content you care about with all your work colleagues.
      </p>

      <p>
        Responsible for leading the development team, and making the technical
        and architectural decisions for the product. I was actively involved in
        the development process, working on a full-stack web-based platform.
      </p>

      <div>
        <span class="tech">#Django</span>
        <span class="tech">#React</span>
        <span class="tech">#Python</span>
        <span class="tech">#Nodejs</span>
        <span class="tech">#Typescript</span>
        <span class="tech">#Postgres</span>
        <span class="tech">#Redis</span>
      </div>
      <br />
    </div>

    <div class="item">
      <h3 class="title">IBM Garage</h3>
      <div class="sub-title">
        Full-Stack Cloud Engineer / June 2019 – July 2020<span class="date">
          / Copenhagen
        </span>
      </div>
      <p>
        "The speed of a startup, at the scale of an enterprise" - a catchphrase
        which I think describes the Garage very well. I worked as part of a
        small cross-functional agile team of experts, to advise and develop
        innovative solutions on behalf of our customers. From startups to
        enterprises, I was responsible for developing customers' ideas into
        reality.
      </p>

      <p>
        In this role, I worked with the latest and greatest technologies, across
        any stacks that come our way, which fits great with my agnostic approach
        towards technology. I worked with greenfield projects, buiding customer
        solutions from the group up, as well as with modernization projects,
        where I was responsible for modernizing legacy systems to cloud-native
        architectures and bringing customer development teams up to speed with
        modern DevOps practices.
      </p>

      <div>
        <span class="tech">#Kubernetes</span>
        <span class="tech">#Nodejs</span>
        <span class="tech">#Typescript</span>
        <span class="tech">#React</span>
        <span class="tech">#Python</span>
        <span class="tech">#Postgres</span>
        <span class="tech">#Java</span>
        <span class="tech">#Dotnet</span>
        <span class="tech">#DevOps</span>
        <span class="tech">#IBMCloud</span>
      </div>
    </div>

    <div class="separator"></div>

    <div class="item">
      <h3 class="title">FundConnect</h3>
      <div class="sub-title">
        Lead developer & Product Owner / Oct 2012 – Feb 2017 & Oct 2017 - June
        2019<span class="date"> / Copenhagen </span>
      </div>
      <p>
        I began my working career at FundConnect as a web developer, developing
        web solutions on behalf of clients from the FinTech sector. My
        responsibilities evolved over the years from single tasks to entire
        client implementations, and later on to team leader.
      </p>

      <p>
        I led a team of developers and together we worked on various projects,
        some of which I was the originator of. My responsibilities spanned from
        concept to execution, and every step in between, i.e. system
        architecture, technology selection, server infrastructure, continuous
        delivery, product development, and more. Over the years, I’ve had the
        opportunity to personally build this team, starting from recruitment, to
        training, support and management.
      </p>

      <p>
        This position has enabled me to create positive change on an ongoing
        basis in the places where the company was lacking technologically or
        otherwise. I’ve been a driver of improvement in internal development
        processes, I’ve innovated in the product line of the company, and was
        responsible for several key technological decisions of the company.
      </p>

      <p>
        On a personal level, this role has enabled me to take as much
        responsibility as I was able to carry, and I have taken every
        opportunity to grow both as a developer and as a team leader.
      </p>

      <div>
        <span class="tech">#AWS</span>
        <span class="tech">#Nodejs</span>
        <span class="tech">#Typescript</span>
        <span class="tech">#Angular</span>
        <span class="tech">#Vuejs</span>
        <span class="tech">#Docker</span>
        <span class="tech">#Dotnet</span>
        <span class="tech">#MongoDB</span>
        <span class="tech">#DevOps</span>
      </div>
    </div>

    <div class="separator"></div>

    <div class="item">
      <h3 class="title">Independent Strategic Technology</h3>
      <div class="sub-title">
        Full-Stack Developer / Feb - Sep 2017
        <span class="date"> / Manchester </span>
      </div>
      <p>
        I worked as a full-stack developer with primary focus on Angular & .Net
        Core development. During my stay in Manchester, with IST, I got the
        chance to work on an innovative product within the FinTech industry, and
        had the opportunity to practice my skills on fresh technologies,
        along-side with a newly established team of talented developers.
      </p>
      <p>
        The company's product was stealth at the time that I was there and that
        gave me the chance to focus purely on the development of the product,
        which accelerated my technical skills.
      </p>

      <div>
        <span class="tech">#AWS</span>
        <span class="tech">#Nodejs</span>
        <span class="tech">#Typescript</span>
        <span class="tech">#Angular</span>
        <span class="tech">#Docker</span>
        <span class="tech">#Dotnet</span>
        <span class="tech">#DynamoDB</span>
      </div>
    </div>
  </div>

  <br />
</section>
