<section class="content-block hide-print" id="Contact">
  <div class="container">
    <h1 class="text-center margin-zero">
      <span class="lnr lnr-envelope"></span>
    </h1>
    <h2 class="headline-strike"><span>Contact</span></h2>

    <div class="row" style="margin-top: 10rem">
      <div class="col-8 offset-by-four columns">
        <a href="mailto:hey@dotmethod.me">hey@dotmethod.me</a>
      </div>
    </div>

    <div class="row">
      <div class="col-8 offset-by-four columns">+45 52 49 10 40</div>
    </div>
  </div>
</section>

<section class="content-block only-print" id="Contact">
  <div style="display: flex; justify-content: center; align-items: center">
    mihai.nueleanu@gmail.com // +45 52 49 10 40
  </div>
  <div style="display: flex; justify-content: center; align-items: center">
    <span>Read more at </span>
    <a style="margin-left: 10px" href="https://dotmethod.me/resume"
      >https://dotmethod.me/resume</a
    >
  </div>
</section>
