<section class="content-block" id="About">
  <div class="container">
    <h1 class="text-center margin-zero hide-print">
      <span class="lnr lnr-user"></span>
    </h1>
    <h2 class="headline-strike hide-print"><span>Personal</span></h2>

    <div class="text-limiter">
      <p>
        An avid Engineer with experience at all levels of the stack.
        Has had a passion for science and mathematics since he was a kid.
        But more than anything, technology has always been the center of his interest.
      </p>
      <p>
        Outgoing and sympathetic, motivated person with a great passion for technology and science. 
        The kind of person that gets things done, which is something he takes great pride in.
        Good eye for detail and to make the most of the time and resources he has been given to create the best possible outcome.
      </p>
      <p>
        He has good teamwork and communication skills, and keeps a high sense of personal responsibility. 
        Reliable, hardworking, a quick learner, always eager to better himself, and loves a good challenge.
      </p>
    </div>

    <br /><br /><br /><br />
  </div>
</section>
