<section class="content" id="About">
  <div class="container">
    <h1 class="text-center margin-zero hide-print">
      <span class="lnr lnr-user"></span>
    </h1>
    <h2 class="headline-strike hide-print"><span>Personal</span></h2>

    <div class="text-limiter">
      <p>
        Ever since I can remember, I've had a passion for science and
        mathematics. But more than anything, technology has always been the
        center of my interest. I am, therefore, happy that my education and
        professional career has led me down the path of IT.
      </p>
      <p>
        I’m a highly motivated person with a great passion for technology
        and science. I am the kind of person that gets things done, which is
        something I take great pride in. I pay high attention to details and
        I make the most of the time and resources I'm given to create the
        best possible outcome.
      </p>
      <p>
        I have excellent teamwork and communication skills, and I keep a
        high sense of personal responsibility. I am reliable, hardworking, a
        quick learner, always eager to better myself, and I'm always on the
        lookout for a good challenge.
      </p>
    </div>

    <br /><br /><br /><br />
  </div>
</section>
