<section class="content-block" id="Career">
  <div class="container">
    <h1 class="text-center margin-zero">
      <span class="lnr lnr-briefcase"></span>
    </h1>
    <h2 class="headline-strike"><span>Career</span></h2>

    <div class="item">
      <h3 class="title">Literal</h3>
      <div class="sub-title">
        <span>CTO, Co-founder / April 2021 – present</span>
        <span class="date"> / Copenhagen </span>
      </div>

      <p>
        We believe that books and their place in the internet age haven't quite been figured out yet. 
        And we're building Literal to solve that. We want to give book readers a delightful online experience. 
        And we're having tons of fun building the platform.

      </p>

      <p>
        From a technical point of view, Literal is the ideal project. 
        We need to be on top of our game with our data, infrastructure, 
        web frontend, mobile, devops. We're tackling it all, and it's 
        an absolute thrill! Not to mention that our tech stack is pure awesome 
        - Nodejs, Typescript, React, React Native, Kubernetes, Python, Postgres, 
        MongoDb, just to name a few.
 
      </p>
    </div>

    <div class="item">
      <h3 class="title">Kiosk</h3>
      <div class="sub-title">
        <span>Technical lead / August 2020 – March 2021</span>
        <span class="date"> / Copenhagen </span>
      </div>

      <p>
        Kiosk is a cloud-based broadcasting solution that makes it easy for you 
        to share the content you care about with all your colleagues.
      </p>

      <p>
        Part of the "Founders" startup incubator, this workplace is vibrant 
        and full of excitement. 
      </p>
    </div>

    <div class="item">
      <h3 class="title">IBM Garage</h3>
      <div class="sub-title">
        Full-Stack Developer / June 2019 – July 2020<span class="date">
          / Copenhagen
        </span>
      </div>
      <p>
        "The speed of a startup, at the scale of an enterprise" - a
        catchphrase which I think describes the Garage very well.
      </p>

      <p>
        I work as part of a small agile team of experts, to advise and
        develop innovative solutions on behalf of our customers. From
        startups to enterprise, I help bringing our customers' ideas to
        reality.
      </p>

      <p>
        In this role, I work with the latest and best technologies, across
        any technology stacks that come our way, which fits great with my
        agnostic approach towards technology. The winner tech is whatever
        gets the job done best.
      </p>

      <p>
        I practice extreme-programming on a daily basis, together with
        Test-Driven Development.
      </p>
    </div>

    <div class="separator"></div>

    <div class="item">
      <h3 class="title">FundConnect</h3>
      <div class="sub-title">
        Lead developer & Product Owner / Oct 2012 – Feb 2017 & Oct 2017 -
        June 2019<span class="date"> / Copenhagen </span>
      </div>
      <p>
        I began working as a developer on implementations of web solutions.
        My responsibilities evolved over the years from single tasks to
        entire client implementations, and later on to product ownership.
      </p>

      <p>
        I managed my own team of developers and together we worked on a
        project which I am the owner of. My responsibilities in this project
        spanned from concept to execution, and every step in between, i.e.
        system architecture, technology selection, server infrastructure,
        continuous delivery, product development, and more. Over the years,
        I’ve had the opportunity to personally build this team, starting
        from recruitment, to training, support and management.
      </p>

      <p>
        This position has enabled me to create positive changes on an
        ongoing basis in the places where the company was lacking
        technologically or otherwise. I’ve been a driver of improvement in
        internal development processes, I’ve innovated in the product line
        of the company, and I was always improving the software lineup.
        Overall, I’ve been involved in the majority of the software
        solutions of the company.
      </p>
    </div>

    <div class="separator"></div>

    <div class="item">
      <h3 class="title">Independent Strategic Technology</h3>
      <div class="sub-title">
        Full-Stack Developer / Feb - Sep 2017
        <span class="date"> / Manchester </span>
      </div>
      <p>
        I’ve been working as a developer with primary focus on Angular &
        .Net Core development. During my stay in Manchester, with IST, I got
        the chance to work on an innovative product within the fin-tech
        industry, and practice my skills on fresh technologies, along-side
        with a newly established team of developers.
      </p>
    </div>

    <div class="separator"></div>

    <div class="item">
      <h3 class="title">Readolens</h3>
      <div class="sub-title">
        System architect / 2016 <span class="date"> / Copenhagen </span>
      </div>
      <p>
        Own startup based in Copenhagen for which I have designed and
        developed a system which had as a purpose the recommendation of
        luxury goods based on user preferences. The project was highly
        valuable on a professional level as it enabled me to explore and
        advance my practical knowledge of cutting-edge technologies and
        industry best-practices, i.e. machine-learning, system architecture,
        modern full-stack JavaScript, big-data analysis.
      </p>
    </div>
  </div>
</section>
