<section class="content-block" id="Contact">
  <div class="container">
    <h1 class="text-center margin-zero">
      <span class="lnr lnr-envelope"></span>
    </h1>
    <h2 class="headline-strike"><span>Contact</span></h2>

    <div class="row" style="margin-top:10rem">
      <div class="col-8 offset-by-four columns">
        <a href="mailto:mihai.nueleanu@gmail.com"
          >mihai.nueleanu@gmail.com</a
        >
      </div>
    </div>
    <div class="row">
      <div class="col-8 offset-by-four columns">
        <a href="mailto:mihai@nueleanu.com">mihai@nueleanu.com</a>
      </div>
    </div>
    <div class="row">
      <div class="col-8 offset-by-four columns">
        +45 52 49 10 40
      </div>
    </div>
  </div>
</section>