<section class="content" id="Education">
  <div class="container">
    <h1 class="text-center margin-zero">
      <span class="lnr lnr-graduation-hat"></span>
    </h1>
    <h2 class="headline-strike"><span>Education</span></h2>

    <div class="item">
      <h4 class="title">
        Master of Science (MSc), Innovative Communication Technologies and
        Entrepreneurship
      </h4>
      <div class="sub-title">
        Aalborg University Copenhagen
        <span class="date"> / 2015 - 2017 </span>
      </div>
      <p>
        This study emphasized teamwork and collaboration, bringing the
        students into the cutting-edge, advanced areas of ICT. What is
        exceptional is that the program focused not only on theory and
        textbooks, but on how ICT can be truly useful in real life.
      </p>
      <h5>Main focus:</h5>
      <ul class="cols-two">
        <li>Internet technologies and service architectures</li>
        <li>Identity and access management</li>
        <li>Interaction design</li>
        <li>Entrepreneurship, Innovation and Business</li>
        <li>Communication and Media Management</li>
        <li>Application and architecture development</li>
        <li>Machine learning and recommendation systems</li>
        <li>Sensors, data gathering and algorithms</li>
      </ul>
    </div>

    <div class="separator"></div>

    <div class="item">
      <h4 class="title">
        Bachelor of Science (BSc), IT, Communication & New Media
      </h4>
      <div class="sub-title">
        Aalborg University Copenhagen
        <span class="date"> / 2012 - 2015 </span>
      </div>
      <p>
        Dynamic environment where the emphasis was put on team work and
        collaboration. The backbone of the program are long-term projects
        for which the students were free to choose any topic, as long as it
        relates to the semester's theme. I've found this "Problem-Based
        Learning" methodology to be extremely efficient at cementing
        knowledge, and building essential teamwork skills.
      </p>
      <h5>Main focus:</h5>
      <ul class="cols-two">
        <li>Network and application security</li>
        <li>Computer networks and Next-gen Networks</li>
        <li>Communication and broadcast networks</li>
        <li>Java and Android programming</li>
        <li>Databases</li>
        <li>Distributed systems and Distributed Organisations</li>
        <li>Applied statistics, Calculus and Linear algebra</li>
        <li>Economics, Business law</li>
      </ul>
    </div>

    <div class="separator"></div>

    <div class="item hide-print">
      <h4 class="title">Notable academic contributions</h4>
      <br />

      <div class="sub-title">Mizaru: Privacy to email providers</div>
      <p>
        The project focused on designing and developing an extra-secure
        web-based email client, with the purpose of protecting the privacy
        of users. The project had at heart the
        <a href="https://spideroak.com/features/zero-knowledge"
          >Zero Knowledge Privacy</a
        >
        philosophy and it was designed to provide end-to-end encryption,
        while not even storing the original encryption keys. With Mizaru,
        the user can simply keep using their existing email provider, while
        enjoying the perks of being private, without having to install any
        software or browser extension.
      </p>

      <div class="sub-title">BlueID: Secure, smart lock</div>
      <p>
        Mechanical lock-and-key access control is notoriously insecure in
        this day and age; virtually anyone can break a lock with the most
        basic tools. Why not leverage technology? This project was about
        designing a secure phisical access control system using ubiquitous
        technologies, i.e. Smartphones, Bluetooth. While there are existing
        products to fill the niche, ALL of them have security issues which
        can only be mitigated through a design revamp. BlueID uses simple
        technologies in a clever way, to provide an extra-secure lock
        mechanism, which can be used just by having your smartphone with
        you.
      </p>

      <div class="sub-title">SmartTrack: Issue tracking</div>
      <p>
        Issue tracking and project management are problematic within any
        software company. SmartTrack was about creating an efficient,
        dynamic tool which would enable managers, marketing, and developers
        to speak the same languaage. The system was designed and crafted
        based on data extracted from several user tests and was evaluated
        against other issue tracking systems, ultimatelly surpassing them in
        the eyes of the users.
      </p>

      <div class="sub-title">DASPOS: Smoke and fire prevention</div>
      <p>
        The project was conducted in collaboration with DASPOS, a company
        which delivers high-cost sophisticated fire prevention equipment all
        around the globe. In an attempt to increase cost-efficiency,
        security and accessibility, the project resulted in an end-to-end
        design and specification of a monitoring system, expanding
        accessibility and accountability through the use of mobile
        applications, web-apps and others.
      </p>

      <div class="sub-title">Affordable internet in remote areas</div>
      <p>
        The project revolved around providing internet connectivity to
        remote rural areas, where conventional infrastructure is too
        expensive to deploy. The case study was based in the rural areas of
        Tanzania, and the research was conducted in parallel with field
        experts. The result was a detailed step-by-step plan to deploying
        affordable internet infrastructure in rural Tanzania, while
        considering the needs of the people in the area.
      </p>

      <div class="sub-title">Search engines and privacy</div>
      <p>
        Google has been the defacto search engine of the world. Yet, a
        closer look reveals concerning issues that Google and other major
        search engines have in the area of user privacy. This project is an
        analysis of Search Engines, some which track users and some which
        don't, in an attempt to determine whether one may be profitable
        while maintaining high standards of user privacy.
      </p>
    </div>
  </div>
</section>
