<section class="welcome">
  <div class="container">
    <h1>Mihai Nueleanu</h1>
    <p class="hide-print">
      Creative problem solving.
    </p>

    <div class="social-media hide-print">
      <a href="https://www.facebook.com/mihai.nueleanu" target="_blank">
        <img
          title="Facebook"
          alt="Facebook"
          src="/images/facebook.png"
          width="35"
          height="35"
        />
      </a>
      <a href="https://www.linkedin.com/in/mihai-nueleanu" target="_blank">
        <img
          title="LinkedIn"
          alt="LinkedIn"
          src="/images/linkedin.png"
          width="35"
          height="35"
        />
      </a>
    </div>
  </div>
</section>