<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>dotmethod | Contact</title>
    <meta name="keywords" content="dotmethod contact mihai nueleanu"/>
    <meta name="description" content='Contact dotmethod'/>
    {% include 'global/head.njk' %}

    <style>
      .contact {
        font-family: "Open Sans",sans-serif;
      }
    </style>
  </head>
  <body class="contact">
    {% include 'header.njk' %}
    <div class="content">
      <h1>Contact</h1>

      <p>
        For any questions and inquiries, please contact us at:
        <br/>
        <a href="mailto:hey@dotmethod.me">hey@dotmethod.me</a>.
        If you're feeling extra-friendly, you can also reach out via telephone (+45)52491040.
      </p>

      <p>
        Find Mihai on
        <a target="_blank" href="https://twitter.com/MihaiNueleanu">Twitter</a>,
        <a target="_blank" href="https://www.linkedin.com/in/mihai-nueleanu/">LinkedIn</a>, and
        <a target="_blank" href="https://literal.club/mihai">Literal</a>.
      </p>

      <p>
        <strong>dotmethod ApS</strong><br/>
        2300 København S <br/>
        Denmark <br/>
        CVR: 42438960
      </p>

    </div>
  </body>
</html>