<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>dotmethod | Home</title>
    <meta name="keywords" content="dotmethod blog mihai nueleanu developer engineer blog"/>
    <meta
      name="description"
      content='I am the kind of person that simply "gets things done", which is something I take great pride in. I pay high
        attention to details and I make the most of the time and resources I`m given to create the best possible outcome.'/>
    {% include 'global/head.njk' %}
  </head>
  <body class="landing">
    {% include 'header.njk' %}
    {% include 'landing/top.njk' %}
    {% include 'landing/projects.njk' %}

    {% include 'contact/contact.njk' %}

    <div class="content">
      <div class="latest-posts">
        <h2>Latest posts</h2>
        {%- for post in collections.published | reverse -%}
          <div class="latest-posts__item">
            <span class="date">{{ post.date | readableDate }}
            </span>
            <a href="{{ post.url }}">{{ post.data.title }}</a>
          </div>
        {%- endfor -%}
      </div>

      {% include 'brief.njk' %}
    </div>
  </body>
</html>