<div class="brief">
  <div class="my-face"></div>
  <h4>Hi, I'm Mihai</h4>
  <p>
    This is the place where I put stuff that I find interesting.
    Welcome to Dot.Method
  </p>
  <p>
    <a href="{{metadata.github}}">GitHub</a>
    <a href="/resume">Resume</a>
    <a href="/resume/#Contact">Contact</a>
    <a href="/uses">Uses</a>
  </p>
</div>
