<div class="brief">
  <div class="my-face"></div>
  <h4>Hello,</h4>
  <p>
    I'm Mihai, the founder of dotmethod - a software development company based in 🇩🇰 Copenhagen. 
  </p>
  <p>
    <a href="{{metadata.github}}">GitHub</a>
    <a href="/resume">Resume</a>
    <a href="/resume/#Contact">Contact</a>
    <a href="/uses">Uses</a>
  </p>
</div>