<div class="header">
  <a href="/">
    <img src="/images/logo3.svg" />
  </a>

  <a class="button button-primary button-simple" href="{{metadata.github}}">
    <i class="fa fa-github" aria-hidden="true"></i>
    GitHub
  </a>
  <a class="button button-primary button-simple" href="">
  {# <i class="fa fa-hand-peace-o" aria-hidden="true"></i> #}
    Say hi!
  </a>
</div>