<div class="header">
  <a href="/">
    <img src="/images/logo.svg" style="display:flex;" />
  </a>

  <a class="button button-primary button-simple" href="{{metadata.github}}" target="_blank">
    <i class="fa fa-github" aria-hidden="true"></i>
    GitHub
  </a>
</div>
